${name} microservice
===========================

${description}

To run locally
--------------

TBD

To run tests
------------

TBD

To run inside a docker container
--------------------------------

TBD

History
-------

Originally created by Atomist on ${creation_date}.
